venv/
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
*.log
*.exe
*.zip

node_modules/
frontend/build/

SiteyVM_Setup/python/
SiteyVM_Setup/app/

build_sfx/payload.zip
build_sfx/siteyvm_stub.exe

.env
*.bak
*.tmp
.DS_Store
Thumbs.db
